{% extends 'base.html'%}

{% block content %}

<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="card p-4 text-center shadow-sm border-0" style="max-width: 400px; border-radius: 20px;">
    
    <h4 class="mb-3">Please set your new password</h4>

    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.new_password1 }}
        </div>
        
        <div class="mb-3">
            {{ form.new_password2 }}
        </div>

        <button type="submit" class="btn btn-dark w-100">
            Set new password
        </button>
    </form>

  </div>
</div>

{% endblock %}

