{% extends 'base.html' %}

{% block content %}

<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="card shadow-sm border-0 p-4" style="width: 100%; max-width: 420px; border-radius: 20px;">
    
    <h3 class="mb-3 fw-bold text-center">Create an account</h3>
    <p class="mb-4 text-center text-muted">Sign up to get started</p>

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.username }}
        </div>

        <div class="mb-3">
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-dark w-100">
            Create account
        </button>
        
    </form>
</div>
  
  </div>
</div>
{% endblock %}