{% extends 'base.html' %}

{% block content %}
<div class="container py-4">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2 class="mb-4">Download video or provide the video link</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.file_url.label_tag }}
            {{ form.file_url }}
        </div>

        <div class="mb-3">
            {{ form.file.label_tag }}
            {{ form.file }}
        </div>

        <div class="mb-3">
            <label>Choose service:</label>
            <div class="checkbox-group">
                {{ form.output_types }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
{% endblock %}